.capitalise {
    text-transform: capitalize;
}

.margin-top-right {
    margin: 0.5em 0.5em 0 0;
}

.App {
    margin-top: 2rem;
    margin-left: 2rem;
}

.resources {
    margin-top: 1rem;

    &__paper-price-adjusters {
        display: inline-block;
        margin-left: 0.5em;
    }

    &__paper-price-adj {
        margin-right: 0.25em;
    }
}

